.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    background-color: #ECEEF0
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-info{
    margin: 0 14px;
}
.btn-cart{
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
    background-color: orange;
}